#content {
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#content img {
    height: 200px;
    display: block;
}

#toolbar-options-div {
    transition: all 1s ease-in-out;
    opacity: 0;
    display: none;
    width: max-content;
    align-content: end;
    position: fixed;
    right: 10;
    top: 80;
    ul {

        border-radius: 10px;
        list-style: none;
        background-color: var(--crust);
        width: max-content;
        padding: 10px;
        margin-left: auto;
        align-content: center;

        li {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

#title {
    font-size: 11.5pt;
    margin-bottom: 10px;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: 11.3;
}

.description {
    background-color: var(--surface0);
    border-radius: 5px;
    margin: 15px 0;
    padding: 7px;
}

audio {
    width: 80%;
    background-color: var(--base);
}